</div>
<footer class="page-footer font-small red darken-4">

  <!-- Footer Elements -->
  <div class="container footer-contatiner">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">
          <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fab fa-facebook-f white-text"></i></a></li>
              <li><a class="twitter" href="#"><i class="fab fa-twitter white-text"></i></a></li>
              <li><a class="instagram" href="#"><i class="fab fa-instagram white-text"></i></a></li>
            </ul>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://powerbombproductions.net/"> powerbombproductions.net</a>
  </div>
  <!-- Copyright -->

</footer>
</div>