<div id="page-container">
  <div id="content-wrap">
    <div class="top-line red darken-4">
      <div style="display:flex">
        <div class="header-social-icons">
          <a href="https://www.facebook.com/PowerbombPROD/"><i class="fab fa-facebook-square"></i></a>
          <a href="https://twitter.com/PowerbombPROD"><i class="fab fa-twitter-square"></i></a>
          <a href="https://www.instagram.com/powerbombprod/"><i class="fab fa-instagram-square"></i></a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
          {{#if isAuthenticated}}
          <a class="header-link" href="/account">My Account</a>
          <span class="divider">|</span>
          <a class="header-link" href="/logout">Logout</a>
          {{else}}
          <a class="header-link" href="/login">Sign In</a>
          <span class="divider">|</span>
          <a class="header-link" href="/register">Register</a>
          {{/if}}
        </div>
      </div>
    </div>
    
  <div class="header">
    <a href="/" class="logo"> <img src="/images/pbp-logo-header-dark-red.png" height="72px"> </a>
    <div class="header-right">
      
      <a class="nav-link {{#if active.home}}active red darken-4{{/if}}" href="/">Home</a>
      <a class="nav-link {{#if active.about}}active red darken-4{{/if}}" href="/about">About</a>
      <a class="nav-link {{#if active.blogs}}active red darken-4{{/if}}" href="/blogs">Blogs</a>
      {{#if isAuthenticated}}
      <a class="nav-link {{#if active.forum}}active red darken-4{{/if}} dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Forums
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item {{#if active.wwe}}active-item red darken-4{{/if}}" href="/forums/wwe">WWE</a>
            <a class="dropdown-item {{#if active.aew}}active-item red darken-4{{/if}}" href="/forums/aew">AEW</a>
            <a class="dropdown-item {{#if active.njpw}}active-item red darken-4{{/if}}" href="/forums/njpw">NJPW</a>
            <a class="dropdown-item {{#if active.general}}active-item red darken-4{{/if}}" href="/forums/general">General</a>
            <a class="dropdown-item {{#if active.off_topic}}active-item red darken-4{{/if}}" href="/forums/off_topic">Off Topic</a>
            <a class="dropdown-item {{#if active.trending}}active-item red darken-4{{/if}}" href="/forums/trending">Trending</a>
          </div>
      {{#if isAdmin}}
      <a class="nav-link {{#if active.admin}}active red darken-4{{/if}}" href="/post_blog">Admin</a>
      {{/if}}
      {{/if}}
    </div>
  </div>
