{{> header }}
{{{flash}}}

<div class="pbp-section">
  <ul class="pbp-grid">
    <li>
      <div class="pbp-box pbp-img-1">
        <a href="#">
        <div class="pbp-info">
          <h3>WWE</h3>
          <p>Nulla commodo iaculis vulputate. Nullam enim mauris, dignissim id est nec, mollis pretium nulla.</p>
        </div></a>
      </div>
    </li>
    <li>
      <div class="pbp-box pbp-img-2">
        <a href="#">
        <div class="pbp-info">
          <h3>AEW</h3>
          <p>Nulla commodo iaculis vulputate. Nullam enim mauris, dignissim id est nec, mollis pretium nulla.</p>
        </div></a>
      </div>
    </li>
    <li>
      <div class="pbp-box pbp-img-3">
        <a href="#">
        <div class="pbp-info">
          <h3>NJPW</h3>
          <p>Nulla commodo iaculis vulputate. Nullam enim mauris, dignissim id est nec, mollis pretium nulla.</p>
        </div></a>
      </div>
    </li>
    <li>
      <div class="pbp-box pbp-img-4">
        <a href="#">
        <div class="pbp-info">
          <h3>General</h3>
          <p>Nulla commodo iaculis vulputate. Nullam enim mauris, dignissim id est nec, mollis pretium nulla.</p>
        </div></a>
      </div>
    </li>
    <li>
      <div class="pbp-box pbp-img-5">
        <a href="#">
        <div class="pbp-info">
          <h3>Off Topic</h3>
          <p>Nulla commodo iaculis vulputate. Nullam enim mauris, dignissim id est nec, mollis pretium nulla.</p>
        </div></a>
      </div>
    </li>
    <li>
      <div class="pbp-box pbp-img-6">
        <a href="#">
        <div class="pbp-info">
          <h3>Trending</h3>
          <p>Nulla commodo iaculis vulputate. Nullam enim mauris, dignissim id est nec, mollis pretium nulla.</p>
        </div></a>
      </div>
    </li>
  </ul>
</div>
{{> footer }}