{{> header }}
<div class="team-title-container">
  <h1>Meet the Team</h1>
</div>
<div class="team-container">
  <div class="column">
    <div class="team-member-card">
      <div class="container">
        <h2>Shane Johnson</h2>
        <p class="title">Founder</p>
        <p>Twitter: @shanejohnson_22</p>
        <p><a class="button" href="https://twitter.com/shanejohnson_22">Follow on Twitter</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="team-member-card">
      <div class="container">
        <h2>Cory Hays</h2>
        <p class="title">Contributor</p>
        <p>Twitter: @Cory_Hays407</p>
        <p><a class="button" href="https://twitter.com/Cory_Hays407">Follow on Twitter</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="team-member-card">
      <div class="container">
        <h2>Dan Bond</h2>
        <p class="title">Contributor</p>
        <p>Twitter: @danpeabee</p>
        <p><a class="button" href="https://twitter.com/danpeabee">Follow on Twitter</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="team-member-card">
      <div class="container">
        <h2>Hunter Evans</h2>
        <p class="title">Contributor</p>
        <p>Twitter: @dieswrestling</p>
        <p><a class="button" href="https://twitter.com/dieswrestling">Follow on Twitter</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="team-member-card">
      <div class="container">
        <h2>Brian McBride</h2>
        <p class="title">Contributor</p>
        <p>Twitter: @BrianMc28277247</p>
        <p><a class="button" href="https://twitter.com/BrianMc28277247">Follow on Twitter</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="team-member-card">
      <div class="container">
        <h2>Adil Waris</h2>
        <p class="title">Contributor</p>
        <p>Twitter: @adilmughalp1</p>
        <p><a class="button" href="https://twitter.com/adilmughalp1">Follow on Twitter</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="team-member-card">
      <div class="container">
        <h2>Annabelle Vasquez</h2>
        <p class="title">Contributor</p>
        <p>Twitter: @annieelillyy</p>
        <p><a class="button" href="https://twitter.com/annieelillyy">Follow on Twitter</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="team-member-card">
      <div class="container">
        <h2>Kyle Paulus</h2>
        <p class="title">Contributor</p>
        <p>Twitter: @PaulusK79</p>
        <p><a class="button" href="https://twitter.com/PaulusK79">Follow on Twitter</a></p>
      </div>
    </div>
  </div>
</div>
{{> footer}}