{{> header }}

<div class="table-responsive" style="margin-top:40px">
  <!--Table-->
  <center>
  <table class="table table-striped" style="width:80%">

    <!--Table head-->
    <thead>
      <tr>
        <th>Topic</th>
        <th>Created By</th>
        <th>Replies</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
      <tr>
        <td>USA / The United Kingdom / China / Russia </td>
        <td>User1</td>
        <td>56</td>
        <td>23</td>
      </tr>
      <tr>
        <td>USA / The United Kingdom / China / Russia </td>
        <td>User1</td>
        <td>4</td>
        <td>36</td>
      </tr>
      <tr>
        <td>USA / The United Kingdom / China / Russia </td>
        <td>User1</td>
        <td>44</td>
        <td>41</td>
      </tr>
    </tbody>
    <!--Table body-->
  </table>
  </center>
  <!--Table-->
</div>

{{> footer }}
