{{> header }}

<div class="main">
  <ul class="cards">
    {{#if posts}}
        {{#each posts}}
    <li class="cards-item">
      <div class="card">
        <div class="card-image"><img src="{{this.photo}}"></div>
        <div class="card-content">
          <h2 class="card-title">{{this.title}}</h2>
          <p class="card-text">{{this.content}}</p>
          <a class="card-btn" href="/blogs/{{this.post_id}}">Read More</a>
        </div>
      </div>
    </li>
    {{/each}}
    {{/if}}
   
  </ul>
</div>
{{> footer }}