{{> header }}
<div class="main">
        <div><img src="{{posts.photo}}"></div>
        <div>
          <h2>{{posts.title}}</h2>
          <div>{{{posts.content}}}</div>
        </div>
</div>
{{> footer}}