{{> header }}
<section class="forum-container">
    <div class="forum-row">
      <main class="forum-view-col-main">
        <article class="forum-article">
          <header class="forum-header">
            <div class="forum-view-meta">
                <span class="forum-authorname">username</span>
                &nbsp;
              <span class="forum-timestamp">4 hours ago</span>
            </div>
            <div>
                <h1 class="blog-title">The title of the forum</h1>
            </div>
          </header>
          <section class="forum-add-comment-section">
            <form>
                <div class="blog-image-container">
                    <textarea type="text" name="reply" class="add-post-textarea" placeholder="Add a comment"></textarea>
                </div>
            </form>
          </section>
          <section class="blog-footer">
            <section class="blog-meta-footer">
              <div class="byline">
                <span class="byline__authorname">sdfgnsdfn</span>
                <br/>
                <span class="byline__timestamp">{sdfhb</span>
              </div>
            </section>
            <section class="blog-meta-footer">
              <div class="byline">
                <span class="byline__authorname">sdfgnsdfn</span>
                <br/>
                <span class="byline__timestamp">{sdfhb</span>
              </div>
            </section>
            <section class="blog-meta-footer">
              <div class="byline">
                <span class="byline__authorname">sdfgdsfgsdfgnsdfn</span>
                <br/>
                <span class="byline__timestamp">{sd efg se fhb</span>
              </div>
            </section>
            <section class="blog-meta-footer">
              <div class="byline">
                <span class="byline__authorname">sdfgnasdf 34 q23r4sdfn</span>
                <br/>
                <span class="byline__timestamp">{sdf t432t45y 54t4yh  hb</span>
              </div>
            </section>
          </section>
          </article>
      </main>
      <aside class="forum-col-aside">
        <div class="blog-sidebar">
          <div class="sidebar-promo">
            <a class="promo-link">
              <img class="promo-image" src="/images/promo-logo-black.jpg">
              <span class="promo-text">Check out Powerbomb Productions on Instagram</span>
            </a>
          </div>
          <div class="sidebar-promo">
            <a class="promo-link">
              <img class="promo-image" src="/images/promo-logo-black.jpg">
              <span class="promo-text">Check out Powerbomb Productions on Instagram</span>
            </a>
          </div>
        </div>
      </aside>
    </div>
</section>
{{> footer}}