{{> header }}

{{{flash}}}

<div class="pbp-section">
  <ul class="pbp-grid">
    <li>
      <div class="pbp-box pbp-img-1">
        <a href="/forums/wwe">
        <div class="pbp-info">
        </div></a>
      </div>
    </li>
    <li>
      <div class="pbp-box pbp-img-2">
        <a href="/forums/aew">
        <div class="pbp-info">
        </div></a>
      </div>
    </li>
    <li>
      <div class="pbp-box pbp-img-3">
        <a href="/forums/njpw">
        <div class="pbp-info">
        </div></a>
      </div>
    </li>
    <li>
      <div class="pbp-box pbp-img-4">
        <a href="/forums/general">
        <div class="pbp-info">
          <p>General</p>
        </div></a>
      </div>
    </li>
    <li>
      <div class="pbp-box pbp-img-5">
        <a href="/forums/off_topic">
        <div class="pbp-info">
          <p>Off Topic</p>
        </div></a>
      </div>
    </li>
    <li>
      <div class="pbp-box pbp-img-6">
        <a href="/forums/trending">
        <div class="pbp-info">
          <p>Trending</p>
        </div></a>
      </div>
    </li>
  </ul>
</div>
{{> footer}}