{{> header }}
<div class="container">
  {{#if msgs}}
    {{#each msgs}}
      <div class="alert alert-dark">
        {{this.msg}}
      </div>
    {{/each}}
  {{/if}}
  {{#if errors}}
    {{#each errors}}
      <div class="alert alert-danger">
        {{this.msg}}
      </div>
    {{/each}}
  {{/if}}
  <form class="login" action="/login" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Username">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
      <a href="./forgotpassword">Forgot Password?</a>
    </div>
    <button type="submit" class="register-btn btn btn-primary">Submit</button>
  </form>
</div>
{{> footer}}