@media (max-width: 576px) {  
    .xs {color:red;font-weight:bold;}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:768px) {  
.sm {color:red;font-weight:bold;}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width:992px) {  
.md {color:red;font-weight:bold;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) { 
.lg {color:red;font-weight:bold;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .xl {color:red;font-weight:bold;}
}

@mixin round-field($border, $fill) {
    border: 2px solid $border;
    color: $border;
    background-color: $fill;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.ck-editor__editable_inline {
    min-height: 400px;
}

.blog-submit {
    input {
        @include round-field(black, $button-color);
    }
    input:hover {
        cursor: pointer;
    }
}

.blog-title-entry {
    margin-bottom: 20px;
    width: 100%;
    @include round-field(gray, white);
}

.blog-image-entry {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-upload {
    @include round-field(black, $button-color);
}

.blog-image-entry {
    margin: 20px 0px;
    
    input[type=file] {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
    }
}

.ck-editor__top {
    border: 2px solid gray !important;
    border-bottom: 0 !important;
    border-radius: 4px !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.ck-editor__main {
    border: 2px solid gray;
    border-top: 0;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.main {
    max-width: 1200px;
    margin: 2rem auto;
}
  
h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.card-image img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.card-btn {
    color: #ffffff !important;
    text-align: center;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 10px;
}

.card-btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards-item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards-item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
.cards-item {
    width: 33.3333%;
}
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    background: linear-gradient(to bottom left, $button-color 40%, black 100%);
}

.card-content {
    padding: 1rem;
    border-top: 1px solid black;
    height: 100%;
}

.card-title {
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px;
}

.card-text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
    margin-top: 10px;
}