.page-title {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0;
    margin-top: 40px;

    h1 {
        font-size: 60px;
        font-weight: 600;
        padding-right: .9375rem;
        padding-left: .9375rem;
        text-align: left;
    }
}

.add-post-container {
    background-color: white;
    border-radius: 4px;
    border: 1px solid #cccccc;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
    padding: 8px;
    box-shadow: 0 0 3px 0 rgba(51,51,51,.18);
}

.add-post-input {
    background-color: #f6f7f8;
    border-radius: 4px;
    border: 1px solid #edeff1;
    box-shadow: none;
    box-sizing: border-box;
    color: #1c1c1c;
    display: block;
    -ms-flex-positive: 1;
    flex-grow: 1;
    outline: none;
    padding: 0 16px;
    height: 38px;

    &:hover {
        border: 1px solid #0079d3;
        background-color: #ffffff;
    }
}

.forum-thread-container {
    min-height: 800px;
    width: 100%;

    .pinned {
        background-color: #b71c1c14 !important;
    }

    .forum-thread-post {
        border-radius: 4px;
        padding-left: 40px;
        cursor: pointer;
        --post-line-color: #cccccc;
        --post-icon-color: #898989;
        border: 1px solid #cccccc;
        margin-bottom: 10px;
        background-color: #ffffffcc;
        color: #eeeeee;
        position: relative;
        color: black;

        &:hover {
            border: 1px solid #2c2c2c;
        }

        .thread-post-info {
            padding-top: 8px;
            position: relative;

            .posted-by-container {
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
                margin: 0 8px 8px;
                position: relative;

                .posted-by {
                    flex: 1 1 auto;
                    -ms-flex-align: center;
                    align-items: center;
                    overflow: hidden;

                    .forum-byline {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                        -ms-flex-align: center;
                        align-items: center;
                        color: inherit;
                        display: inline;
                    }
                }
            }

            .forum-title-container {
                margin: 0 8px;

                .forum-title {
                    display: inline;
                    position: relative;
                    text-decoration: none;
                    word-break: break-word;
                }
            }
        }
    }

    .forum-meta {
        width: 40px;
        border-left: 4px solid transparent;
        -ms-flex-align: center;
        align-items: center;
        box-sizing: border-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        left: 0;
        padding: 8px 4px 8px 0;
        position: absolute;
        top: 0;
        background-color: #eee;

        .meta-container {
            -ms-flex-align: center;
            align-items: center;
            display: -ms-flexbox;
            display: flex;
            fill: inherit;
            -ms-flex-direction: column;
            flex-direction: column;
            margin: auto;

            .num-of-replies {
                font-size: 14px;
                font-weight: 700;
                line-height: 16px;
                pointer-events: none;
                word-break: normal;
            }

            .replies-text {
                font-size: 10px;
                line-height: 16px;
                pointer-events: none;
                word-break: normal;
            }
        }
    }
}

.topic-type-select {
    margin-bottom: 20px;
    @include round-field(gray, white);
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.pinned-icon {
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.admin-options-icon {
    position:absolute;
    bottom:0;
    right:0;
    margin-bottom: 1px;
    margin-right: 4px;
    height: 24px;
    border-radius: 2px;

    &:hover {
        background-color: #ccc;
    }
}

@media (min-width: 75rem) {
    .forum-col-main {
        flex-basis: 70.83333%;
        max-width: 70.83333%;
        padding-right: .9375rem;
        padding-left: .9375rem;
    }
}

.forum-col-main {
    background-color: white;
    border-radius: 4px;
}

.forum-post-container {
    margin: 5%;
}

.forum-textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border: 2px solid gray;
    color: gray;
    border-radius: 8px
}

.forum-submit {
    display: flow-root;

    input {
        @include round-field(black, $button-color);
        float: right;
    }
    input:hover {
        cursor: pointer;
    }
}

.forum-container {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0;
    margin-top: 40px;
}

.forum-row {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (min-width: 75rem) {
    .forum-view-col-main {
        flex-basis: 70.83333%;
        max-width: 70.83333%;
    }
}

@media (min-width: 75rem) {
    .forum-col-aside {
        flex-basis: 29.16667%;
        max-width: 29.16667%;
        padding-right: .9375rem;
        padding-left: .9375rem;
    }
}

.forum-article {
    box-shadow: 0 0 3px 0 rgba(51,51,51,.18);
    background: #fff;
    border-top: none;
    border-radius: 4px;
    border: 1px solid #cccccc;
}

.add-post-textarea {
    background-color: #f6f7f8;
    border-radius: 4px;
    border: 1px solid #edeff1;
    box-shadow: none;
    box-sizing: border-box;
    color: #1c1c1c;
    display: block;
    -ms-flex-positive: 1;
    flex-grow: 1;
    outline: none;
    padding: 0 16px;
    width: 100%;
    height: 40px;
    font-size: 25px;

    &:hover {
        border: 1px solid #0079d3;
        background-color: #ffffff;
    }
}

.forum-add-comment-section {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.forum-view-meta {
    padding-left: 1.5rem;
    padding-top: 1rem;

    .forum-timestamp {
        color: #848484;
    }
}

.forum-header {
    border-bottom: 1px solid #f1f1f1;
}

.tab {
    border-top: 0px !important;
}
@mixin round-field($border, $fill) {
    border: 2px solid $border;
    color: $border;
    background-color: $fill;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
}

.comment-submit {
    margin-top: 1rem;
    display: flow-root;

    input {
        border: 1px solid black;
        color: black;
        background-color: $button-color;
        padding: 1px 10px;
        border-radius: 4px;
        font-size: 25px;
        float: right;
    }
    input:hover {
        cursor: pointer;
    }
}