* {box-sizing: border-box;}

.divider {
  vertical-align: text-top;
  color: #cccccc;
  padding: 0px 3px;
}

#page-container{
  position: relative;
  min-height: 100vh;
}

#alert-message{
  margin: 20px;
}
body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
}

.header {
  overflow: hidden;
  background-color: black;
  padding: 8px 50px;
}

.header a.nav-link {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 22px; 
  line-height: 36px;
  border-radius: 4px;
}

.active-item:hover {
  background-color: $button-color !important;
  color: white;
}

.dropdown-item{
  text-align: left !important;
}
.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-menu{
  background-color: black;
  border-radius: 4px;
}

.dropdown-item {
  color: white;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: SlateBlue;
}

.header a.nav-link:hover {
  background-color: #ddd;
  color: Black;
}

.header-social-icons {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  width: 50%;
}

.top-line {
  padding: 0px 50px;

  div {
    height: 32px;
    div {
      padding-left: 0px;
    }
  }

  .text-right a {
    vertical-align: sub;
    color: white;
    font-size: 16px;
  }
}

.header-social-icons li
{
  display:inline-block;
}
.header-social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size: 13px
}
.header-social-icons a{
  display:inline-block;
  text-align:center;
  height: 32px;
  padding: 4px 0px;
  margin-right:8px;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;

  .fab {
    vertical-align: middle;
    font-size: 24px;
    color: white;
  }
}

.header-social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
@media (max-width:767px)
{
  .header-social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.header a.active {
  color: white;

  &:hover {
    color: white;
  }
}

.header-right {
  float: right;
  height: 72px;
  padding: 6px;

  a {
    padding: 12px;
  }
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

// move to own index file
@import url('https://fonts.googleapis.com/css?family=Pacifico');
.pbp-section {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2% 2%;
}

.pbp-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.pbp-grid:after {
	clear: both;
}

.pbp-grid:after, .pbp-box:before {
	content: '';
	display: table;
}

.pbp-grid li {
	width: 328px;
	height: 328px;
	display: inline-block;
	margin: 10px;
}

.pbp-box {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

.pbp-box:hover {
	transform: scale(1.05); 
}

.pbp-img-1 {
	background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), /* bottom, image */
  url(../images/WWE.png);
  background-color: black;
  background-size: contain;
}

.pbp-img-2 {
	background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), /* bottom, image */
  url(../images/AEW.png);
  background-color: black;
  background-size: contain;
}

.pbp-img-3 {
	background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), /* bottom, image */
  url(../images/NJPW.png);
  background-color: black;
  background-size: contain;
}

.pbp-img-4 {
	background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-color: black;
  background-size: contain;
}

.pbp-img-5 {
	background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-color: black;
}

.pbp-img-6 {
	background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-color: black;
}

.pbp-info {
	position: absolute;
	width: inherit;
	height: inherit;
}

.pbp-box a {
  display:inline-block;
  width:100%;
  height:100%;
}

.pbp-info p {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
	margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 55px;
}

#content-wrap {
  padding-bottom: 222px;
}