div.container {
    margin-top: 40px;
}

.form-control:not(:last-child) {
    margin-bottom: 10px;
}

form.login,
div.register-form {
    max-width: 40%;
    margin: auto;
}

button.register-btn {
    margin-left: 0;
}