@import url("https://fonts.googleapis.com/css?family=Pacifico");
button:hover {
  cursor: pointer; }

* {
  box-sizing: border-box; }

.divider {
  vertical-align: text-top;
  color: #cccccc;
  padding: 0px 3px; }

#page-container {
  position: relative;
  min-height: 100vh; }

#alert-message {
  margin: 20px; }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee; }

.header {
  overflow: hidden;
  background-color: black;
  padding: 8px 50px; }

.header a.nav-link {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 22px;
  line-height: 36px;
  border-radius: 4px; }

.active-item:hover {
  background-color: #b71c1c !important;
  color: white; }

.dropdown-item {
  text-align: left !important; }

.dropdown-item:hover {
  background-color: #f1f1f1; }

.dropdown-menu {
  background-color: black;
  border-radius: 4px; }

.dropdown-item {
  color: white; }

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: SlateBlue; }

.header a.nav-link:hover {
  background-color: #ddd;
  color: Black; }

.header-social-icons {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  width: 50%; }

.top-line {
  padding: 0px 50px; }
  .top-line div {
    height: 32px; }
    .top-line div div {
      padding-left: 0px; }
  .top-line .text-right a {
    vertical-align: sub;
    color: white;
    font-size: 16px; }

.header-social-icons li {
  display: inline-block; }

.header-social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px; }

.header-social-icons a {
  display: inline-block;
  text-align: center;
  height: 32px;
  padding: 4px 0px;
  margin-right: 8px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  .header-social-icons a .fab {
    vertical-align: middle;
    font-size: 24px;
    color: white; }

.header-social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px; }

@media (max-width: 767px) {
  .header-social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600; } }
.header a.active {
  color: white; }
  .header a.active:hover {
    color: white; }

.header-right {
  float: right;
  height: 72px;
  padding: 6px; }
  .header-right a {
    padding: 12px; }

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left; }

  .header-right {
    float: none; } }
.pbp-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2% 2%; }

.pbp-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%; }

.pbp-grid:after {
  clear: both; }

.pbp-grid:after, .pbp-box:before {
  content: '';
  display: table; }

.pbp-grid li {
  width: 328px;
  height: 328px;
  display: inline-block;
  margin: 10px; }

.pbp-box {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: 0.3s ease-in-out,  -webkit-transform 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out,  -moz-transform 0.3s ease-in-out;
  transition: all 0.3s ease-in-out, transform 0.3s ease-in-out; }

.pbp-box:hover {
  transform: scale(1.05); }

.pbp-img-1 {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../images/WWE.png);
  background-color: black;
  background-size: contain; }

.pbp-img-2 {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../images/AEW.png);
  background-color: black;
  background-size: contain; }

.pbp-img-3 {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../images/NJPW.png);
  background-color: black;
  background-size: contain; }

.pbp-img-4 {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-color: black;
  background-size: contain; }

.pbp-img-5 {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-color: black; }

.pbp-img-6 {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-color: black; }

.pbp-info {
  position: absolute;
  width: inherit;
  height: inherit; }

.pbp-box a {
  display: inline-block;
  width: 100%;
  height: 100%; }

.pbp-info p {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 55px; }

#content-wrap {
  padding-bottom: 222px; }

.search-container {
  margin: 0 auto;
  text-align: center; }

.search-bar {
  margin-top: 20px;
  margin-bottom: 20px; }

.counter {
  padding: 8px;
  color: #ccc; }

.result-table {
  width: 75% !important;
  margin-left: auto;
  margin-right: auto; }

#first-col, #second-col, #third-col {
  width: auto; }

div.container {
  margin-top: 40px; }

.form-control:not(:last-child) {
  margin-bottom: 10px; }

@media (max-width: 576px) {
  .xs {
    color: red;
    font-weight: bold; } }
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {
  .sm {
    color: red;
    font-weight: bold; } }
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width: 992px) {
  .md {
    color: red;
    font-weight: bold; } }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  .lg {
    color: red;
    font-weight: bold; } }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .xl {
    color: red;
    font-weight: bold; } }
.blog-post-container {
  margin: 2% 10%; }

.ck-editor__editable_inline {
  min-height: 400px; }

.blog-submit input {
  border: 2px solid black;
  color: black;
  background-color: #b71c1c;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold; }
.blog-submit input:hover {
  cursor: pointer; }

.blog-title-entry {
  margin-bottom: 20px;
  width: 100%;
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold; }

.blog-image-entry {
  position: relative;
  overflow: hidden;
  display: inline-block; }

.btn-upload {
  border: 2px solid black;
  color: black;
  background-color: #b71c1c;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold; }

.blog-image-entry {
  margin: 20px 0px; }
  .blog-image-entry input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold; }

.ck-editor__top {
  border: 2px solid gray !important;
  border-bottom: 0 !important;
  border-radius: 4px !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

.ck-editor__main {
  border: 2px solid gray;
  border-top: 0;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.main {
  max-width: 1200px;
  margin: 2rem auto; }

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center; }

.card-image img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

.card-btn {
  color: #ffffff !important;
  text-align: center;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2); }

.card-btn:hover {
  background-color: rgba(255, 255, 255, 0.12); }

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.cards-item {
  display: flex;
  padding: 1rem; }

@media (min-width: 40rem) {
  .cards-item {
    width: 50%; } }
@media (min-width: 56rem) {
  .cards-item {
    width: 33.3333%; } }
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(to bottom left, #b71c1c 40%, black 100%); }

.card-content {
  padding: 1rem;
  border-top: 1px solid black; }

.card-title {
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0px; }

.card-text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400; }

.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; }

.footer-contatiner {
  margin-top: 0rem !important; }

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.social-icons li {
  display: inline-block;
  margin-bottom: 0 !important; }

.social-icons a {
  border: 1px solid white;
  color: white;
  font-size: 30px;
  display: inline-block;
  line-height: 60px;
  width: 60px;
  height: 60px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all 0.2s linear; }

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe; }

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px; }

.social-icons a.facebook:hover {
  background-color: #3b5998; }

.social-icons a.twitter:hover {
  background-color: #00aced; }

.social-icons a.instagram:hover {
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); }

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600; } }
.flex-center {
  margin-bottom: 0rem !important; }

.blog-container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0;
  margin-top: 40px; }

.blog-row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap; }

@media (min-width: 75rem) {
  .blog-col-main {
    flex-basis: 70.83333%;
    max-width: 70.83333%;
    padding-right: .9375rem;
    padding-left: .9375rem; } }
@media (min-width: 75rem) {
  .blog-col-aside {
    flex-basis: 29.16667%;
    max-width: 29.16667%;
    padding-right: .9375rem;
    padding-left: .9375rem; } }
.blog-article {
  box-shadow: 0 0 3px 0 rgba(51, 51, 51, 0.18);
  background: #fff;
  border-top: none;
  margin-bottom: 3rem;
  border-radius: 4px;
  border: 1px solid #cccccc; }

.blog-title {
  font-size: 1.875rem !important;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: left;
  font-family: Helvetica Neue,Helvetica,Segoe UI,Arial,sans-serif;
  font-weight: 600;
  color: #222;
  line-height: 1.2;
  font-size: 1.25rem;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.blog-meta {
  border-bottom: 1px solid #f1f1f1;
  padding-top: 0;
  padding-bottom: .75rem; }

.byline {
  padding-left: 1.5rem;
  font-size: .875rem;
  width: 50%; }

.blog-details {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.blog-content {
  margin-top: 20px;
  border-top: 1px solid #f1f1f1;
  padding-top: 10px; }

.blog-image-container img {
  max-width: 100%; }

.blog-meta-footer {
  border-top: 1px solid #f1f1f1;
  padding-top: .75rem;
  padding-bottom: .75rem; }

.blog-sidebar {
  max-width: 300px;
  margin-left: auto; }

.promo-link {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  background: #fff;
  box-shadow: 0 0 3px 0 rgba(51, 51, 51, 0.18); }

.promo-image {
  display: block;
  height: 100px;
  width: auto; }

.promo-text {
  padding: .5rem 1rem;
  display: block;
  font-family: Helvetica Neue,Helvetica,Segoe UI,Arial,sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #222; }

.page-title {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0;
  margin-top: 40px; }
  .page-title h1 {
    font-size: 60px;
    font-weight: 600;
    padding-right: .9375rem;
    padding-left: .9375rem;
    text-align: left; }

.add-post-container {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #cccccc;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  padding: 8px;
  box-shadow: 0 0 3px 0 rgba(51, 51, 51, 0.18); }
  .add-post-container .add-post-input {
    background-color: #f6f7f8;
    border-radius: 4px;
    border: 1px solid #edeff1;
    box-shadow: none;
    box-sizing: border-box;
    color: #1c1c1c;
    display: block;
    -ms-flex-positive: 1;
    flex-grow: 1;
    outline: none;
    padding: 0 16px;
    height: 38px; }
    .add-post-container .add-post-input:hover {
      border: 1px solid #0079d3;
      background-color: #ffffff; }

.forum-thread-container {
  min-height: 800px;
  width: 100%; }
  .forum-thread-container .pinned {
    background-color: #b71c1c14 !important; }
  .forum-thread-container .forum-thread-post {
    border-radius: 4px;
    padding-left: 40px;
    cursor: pointer;
    --post-line-color: #cccccc;
    --post-icon-color: #898989;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    background-color: #ffffffcc;
    color: #eeeeee;
    position: relative;
    color: black; }
    .forum-thread-container .forum-thread-post:hover {
      border: 1px solid #2c2c2c; }
    .forum-thread-container .forum-thread-post .thread-post-info {
      padding-top: 8px;
      position: relative; }
      .forum-thread-container .forum-thread-post .thread-post-info .posted-by-container {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        margin: 0 8px 8px;
        position: relative; }
        .forum-thread-container .forum-thread-post .thread-post-info .posted-by-container .posted-by {
          flex: 1 1 auto;
          -ms-flex-align: center;
          align-items: center;
          overflow: hidden; }
          .forum-thread-container .forum-thread-post .thread-post-info .posted-by-container .posted-by .forum-byline {
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            -ms-flex-align: center;
            align-items: center;
            color: inherit;
            display: inline; }
      .forum-thread-container .forum-thread-post .thread-post-info .forum-title-container {
        margin: 0 8px; }
        .forum-thread-container .forum-thread-post .thread-post-info .forum-title-container .forum-title {
          display: inline;
          position: relative;
          text-decoration: none;
          word-break: break-word; }
  .forum-thread-container .forum-meta {
    width: 40px;
    border-left: 4px solid transparent;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    left: 0;
    padding: 8px 4px 8px 0;
    position: absolute;
    top: 0;
    background-color: #eee; }
    .forum-thread-container .forum-meta .meta-container {
      -ms-flex-align: center;
      align-items: center;
      display: -ms-flexbox;
      display: flex;
      fill: inherit;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: auto; }
      .forum-thread-container .forum-meta .meta-container .num-of-replies {
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        pointer-events: none;
        word-break: normal; }
      .forum-thread-container .forum-meta .meta-container .replies-text {
        font-size: 10px;
        line-height: 16px;
        pointer-events: none;
        word-break: normal; }

.topic-type-select {
  margin-bottom: 20px;
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold; }

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.pinned-icon {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0; }

.admin-options-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1px;
  margin-right: 4px;
  height: 24px;
  border-radius: 2px; }
  .admin-options-icon:hover {
    background-color: #ccc; }
